.sign-in-div{
width: 100%;
display: flex;
justify-content: center;
align-items: center;
border: 1px solid gray;
border-radius: 7px;
 .sign-in-form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 80%;
    height: 400px;
    margin: 3rem;
    border: 1px solid gray;
    border-radius: 7px;
    padding: 1rem;
    input{
        width: 300px;
        margin-top: 0;
    }
    @media screen and (max-width:450px) {
        input{
            width: 200px;
        }
        .sign-in-form{
            height: 300px;
      
        }
    }
}   
@media screen and (max-width:450px) {
    .sign-in-form{
        height: 300px;
    }
}


}

